<div class="staff-list">
  <h2>Staff List</h2>
  <div style="text-align: right;">
    <button class="add-button" [routerLink]="['/pages/staff/staff-form']">Add Staff</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Designation</th>
        <th>Phone Number</th>
        <th>Date of Birth</th>
        <th>Joining Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffList" [routerLink]="['/pages/staff/profile/', staff._id]">
        <td>{{ staff.fullname }}</td>
        <td>{{ staff.email }}</td>
        <td>{{ staff.designation }}</td>
        <td>{{ staff.phonenumber }}</td>
        <td>{{ staff.dateofbirth }}</td>
        <td>{{ staff.joiningdate }}</td>
        <td>
        <button (click)="editStaff(staff); $event.stopPropagation()"><i class="material-icons">edit</i></button>
        <button (click)="deleteStaff(staff); $event.stopPropagation()"><i class="material-icons">delete</i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
