<form [formGroup]="leaveTypeForm" (ngSubmit)="onSubmit()" class="leave-type-form">
    <div class="form-group">
        <label for="name">Leave Type Name:</label>
        <input type="text" id="name" formControlName="name" required class="form-control">
    </div>
    <!-- <div class="form-group">
        <label for="leaveTypeDescription">Description:</label>
        <textarea id="leaveTypeDescription" formControlName="leaveTypeDescription" required class="form-control"></textarea>
    </div> -->
    <div class="form-group">
        <label for="maxDays">Duration (days):</label>
        <input type="number" id="maxDays" formControlName="maxDays" required class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="leaveTypeForm.invalid" class="btn btn-primary">Submit</button>
    </div>
</form>