<h1>Payroll Process</h1>
<div *ngIf="!employeeData || employeeData.length === 0">
    <p>No data found</p>
</div>
<div *ngIf="payrollData">
    <div style="border: 1px solid #000; padding: 10px; margin: 10px 0;">
        <div>
            <p><strong>Month:</strong> {{ payrollData.month }}</p>
            <p><strong>Year:</strong> {{ payrollData.year }}</p>
            <p><strong>Processed Date:</strong> {{ payrollData.paymentDate }}</p>
            <p><strong>Status:</strong> {{ payrollData.status }}</p>
            <p><strong>Total Days in Month:</strong> {{ getTotalDaysInMonth() }}</p>
        </div>
    </div>
</div>
<div *ngIf="employeeData.length > 0">
    <table>
        <thead>
            <tr>
                <th>Employee Name</th>
                <th *ngFor=" let c of employeeData[0].salaryComponent">{{c.component}}</th>
                <th>Total Presents</th>
                <th>Total Leave</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeData">
                <td>{{ employee.fullname }}</td>
                <ng-container *ngIf="employee.salaryComponent && employee.salaryComponent.length > 0;">
                    <td *ngFor="let c of employee.salaryComponent">
                        {{ c.value ? c.value : '-' }}
                    </td>
                </ng-container>
                <ng-container *ngIf="!employee.salaryComponent || employee.salaryComponent.length === 0">
                    <td>-</td>
                    <td>-</td>
                </ng-container>
                <td>{{ getTotalPresents(employee) }}</td>
                <td>{{ getTotalLeave(employee) }}</td>
                <td>{{ calculateSalary(employee) | currency }}</td>
            </tr>
        </tbody>
    </table>
</div>
