<div class="attendance-module">
    <div class="button-container">
        <button mat-raised-button color="primary" class="add-attendance-button" style="float: right;" [routerLink]="['/pages/attendance/attendance-form']">
            <i class="material-icons">add</i>
            <span>Add Attendance</span>
        </button>
    </div>

    <div class="attendance-list">
        <h2>Attendance Records</h2>
        <table>
            <thead>
            <tr>
                <th>Employee Name</th>
                <th>Date</th>
                <th>Check-in Time</th>
                <th>Check-out Time</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let record of attendanceRecords">
                <td>{{ record.employee.fullname }}</td>
                <td>{{ record.date | date: 'dd-MM-yyyy' }}</td>
                <td>{{ record.checkin | date: 'hh:mm a' }}</td>
                <td>{{ record.checkout | date: 'hh:mm a' }}</td>
                <td [ngStyle]="{ 'color': record.checkin && record.checkout ? 'green' : 'red' }">
                    {{ record.checkin && record.checkout ? 'Present' : 'Absent' }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>